.chartWrapper {
    display: block;
    position: relative;
    width: 77%;
    max-width: 1500px;
    margin: auto;
    padding: 10px 10px 10px 0;
    margin: 30px auto 30px auto;
    background-color: white;
    filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.3));
}
.chart {
    display: block;
    height: 700px;
    width: 100%;
}
.highcharts-navigator {
    cursor: pointer !important;
}
.highcharts-navigator-mask-inside {
    cursor: grab !important;
}
.highcharts-navigator-mask-inside:active {
    cursor: grabbing !important;
}
.removeChartBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
    background-color: #e74c3c;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    line-height: 25px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
}
.removeChartBtn:hover { 
    filter: brightness(1.5);
}
.tooltipStyle {
    font-size: 20px;
    font-weight: bold;
    /* color controlled inline */
}

/************************************** SMOOTH SLIDER */
#smootherWrapper {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    width: 300px;
    margin: auto;
}
#smootherWrapper input {
    cursor: pointer;
}

/************************************** TOGGLE RUNS */
#workloadGroupingControlsWrapper {
    width: 90%;
    margin: auto;
    padding: 10px;
    cursor: default;
}
#workloadGroupingControlsWrapper div {
    display: inline-block;
    margin: 5px 15px 5px 15px;
}
#workloadGroupingControlsWrapper label {
    margin: 0 0 0 5px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2980b9;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2980b9;
}
input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

/************************************** EXPORT OPTIONS */
#exportOptionsWrapper {
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 12px;
    margin: auto;
}
#exportOptionsWrapper div {
    margin: 0 15px 0 15px;
    cursor: default;
}
#exportOptionsWrapper input:checked + .slider {
    background-color: #6e6e6e;
}
#exportOptionsWrapper input:focus + .slider {
    box-shadow: 0 0 1px #6e6e6e;
}
#lineWidthWrapper {
    margin: 0 !important;
}
#lineWidthWrapper label {
    position: relative;
    top: -3px;
}
#lineWidthWrapper input {
    width: 75px;
    position: relative;
    top: -1px;
    cursor: pointer;
}
#lineWidthWrapper span {
    width: 75px;
    position: relative;
    top: -3px;
    left: 3px;
}
.frozen {
    pointer-events: none !important;
    opacity: 0.4 !important;
}

/************************************** METADATA (debug) */
#chartMetadataWrapper {
    display: flex;

    flex-wrap: wrap;
    justify-content: left;

    margin: 0 auto 0 10px;
    font-size: 12px;

    box-sizing: border-box;
    border: 1px solid red;
}
.seriesMetadata {
    text-align: left;
    padding: 5px;
    margin: 5px;

    box-sizing: border-box;
    border: 1px solid green;
}
.seriesMetadata .label {
    font-weight: bold;
}
.seriesMetadata .metadata {
    font-style: italic;
}