.chartWrapper {
    display: block;
    position: relative;
    width: 77%;
    max-width: 1500px;
    margin: auto;
    padding: 10px 10px 10px 0;
    margin: 30px auto 30px auto;
    background-color: white;
    filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.3));

    text-align: center;
    border: 1px solid blue;
}
.chart {
    display: block;
    height: 700px;
    width: 100%;
}
.highcharts-navigator {
    cursor: pointer !important;
}
.highcharts-navigator-mask-inside {
    cursor: grab !important;
}
.highcharts-navigator-mask-inside:active {
    cursor: grabbing !important;
}
.removeChartBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
    background-color: #e74c3c;
    color: white;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
}
.removeChartBtn:hover { 
    filter: brightness(1.5);
}

/************************************** SMOOTH SLIDER */
#smootherWrapper {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    width: 300px;
    margin: auto;
}
#smootherWrapper input {
    cursor: pointer;
}

/************************************** CHECKBOXES */
#workloadGroupingControlsWrapper {
    width: 90%;
    margin: auto;
    padding: 10px;
}
#workloadGroupingControlsWrapper div {
    display: inline-block;
    margin: 5px 15px 5px 15px;
}
#workloadGroupingControlsWrapper label {
    margin: 0 0 0 5px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #0075ff;
}
input:focus + .slider {
    box-shadow: 0 0 1px #0075ff;
}
input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

/************************************** METADATA */
#chartMetadataWrapper {
    display: flex;

    flex-wrap: wrap;
    justify-content: left;

    margin: 0 auto 0 10px;
    font-size: 12px;

    box-sizing: border-box;
    border: 1px solid red;
}
.seriesMetadata {
    text-align: left;
    padding: 5px;
    margin: 5px;

    box-sizing: border-box;
    border: 1px solid green;
}
.seriesMetadata .label {
    font-weight: bold;
}
.seriesMetadata .metadata {
    font-style: italic;
}