.chartWrapper {
    display: block;
    /*height: 100%;*/
    margin: 0;
    padding: 0;
}
.chart {
    display: block;
    /*height: 100%;*/
    height: 750px;
    width: 90%;
    margin: 10px auto 10px auto;


    border: 1px solid black;
}
.highcharts-navigator {
    cursor: pointer !important;
}
.highcharts-navigator-mask-inside {
    cursor: grab !important;
}
.highcharts-navigator-mask-inside:active {
    cursor: grabbing !important;
}