.chartWrapper {
    display: block;
    position: relative;
    width: 90%;
    margin: auto;
    padding: 0;

    background-color: pink;
}
.chart {
    display: block;
    height: 750px;
    width: 100%;
    margin: 10px auto 20px auto;
    border: 1px solid black;
}
.highcharts-navigator {
    cursor: pointer !important;
}
.highcharts-navigator-mask-inside {
    cursor: grab !important;
}
.highcharts-navigator-mask-inside:active {
    cursor: grabbing !important;
}
.removeChartBtn {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 99;
    background-color: #e74c3c;
    color: white;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.removeChartBtn:hover { 
    filter: brightness(1.5);
}