/********************************************** CHART PICKER */
#chartPickerWrapper {
    display: block;
    width: 100%;
    text-align: center;
}
#dataLogo {
    position: fixed;
    width: 60px;
    height: 60px;
    text-align: center;
    left: 10px;
    top: 10px;
    cursor: pointer;
    background-color: #f39c12;
    border: none;
}
#dataLogo:hover {
    background-color: white;
    border: 2px solid #f39c12;
    box-sizing: border-box;
}
.dataSVG {
    width: 40px;
    filter: invert(89%) sepia(23%) saturate(0%) hue-rotate(76deg) brightness(108%) contrast(103%);
}
#dataLogo:hover .dataSVG { 
    filter: invert(63%) sepia(51%) saturate(1315%) hue-rotate(355deg) brightness(100%) contrast(91%);
}
#chartPickerWrapper #pickChartBtn {
    position: relative;
    display: block;
    width: 80%;
    max-width: 1500px;
    height: 60px;
    line-height: 60px;
    font-size: 40px;
    margin: 10px auto 0 auto;
    cursor: pointer;
    color: white;
    border: 0px solid #34495e;   
    background-color: #34495e;
}
#chartPickerWrapper #pickChartBtn:hover {
    filter: brightness(1.25);
}
#chartPickerWrapper #pickChartBtn:disabled {
    cursor: default;
    filter: brightness(1.25);
}
.loadingIcon {
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#chartPickerWrapper #metricBtnList {
    display: block;
    height: 500px;
    width: 80%;
    max-width: 1500px;
    margin: auto;
    text-align: left;;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;  /* Firefox */
    border: 1px solid black;
    box-sizing: border-box;
}
#chartPickerWrapper #metricBtnList::-webkit-scrollbar {
    display: none;
}
#chartPickerWrapper .metricBtn {
    width: 50%;
    font-size: 16px;
    margin: 0 auto 0 auto;
    padding: 5px 0 5px 20px;
    cursor: pointer;
    text-align: left;
}
#downloadUploadWrapper .localDataUpload {
    display: inline-block;
    border: 1px solid black;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    background-color: lightgray;
    font-size: 16px;
}
#downloadUploadWrapper .localDataUpload:hover {
    background-color: white;
}
#downloadUploadWrapper #localDataUpload {
    display: none;
}
#downloadUploadWrapper #localDataUploadButton {
    display: inline-block;
    border: 1px solid black;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    background-color: lightgray;
    font-size: 16px;
}
#downloadUploadWrapper #localDataUploadButton:hover {
    background-color: white;
}