#experimentWrapper {
    display: block;
    float: left;
    width: 20%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;  /* Firefox */

    /* testing */
    border: 1px solid purple;
    box-sizing: border-box;
}

#experimentWrapper::-webkit-scrollbar {
    display: none;
}
  
#experimentWrapper button {
    display: block;
    width: 100%;
    height: 60px;
    /* font-size: 1vw; */
}

#experimentWrapper button .text {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
}

#experimentWrapper button.active {
	background-color: blue;
    color: white;
}