#selectionsWrapper {
    width: 25%;
    height: calc(100% - 50px);

    position: relative;
	display: block;
	float: left;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;  /* Firefox */
    box-sizing: border-box;
}
#selectionsWrapper::-webkit-scrollbar {
    display: none;
}
#selectionsWrapper .workloadWrapper {
    box-sizing: border-box;
    border: 1px solid black;
}
#selectionsWrapper .workloadWrapper .workload {
    height: 40px;
    display: flex;
    align-items: center; 
    justify-content: left;
    padding-left: 20px;
    background-color: lightgrey;
    font-weight: bold;
}
#selectionsWrapper .removeBtn {
    width: 25px;
    height: 25px;
    background-color: red;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
}
#selectionsWrapper button:hover {
    background-color: white;
    color: red;
}
#selectionsWrapper .workloadWrapper ul {
    display: block;
    padding: 0;
    margin: 0;
}
#selectionsWrapper .workloadWrapper ul li {
    text-align: right;
    padding: 2px;
    box-sizing: border-box;
    border: 1px solid white;
}